.background-color{
    background-color: #1D1D45;
}
.navbar-custom{
    background-color: #161738;
}
.navbar-custom .container{
    width: 80%;
}
.main-text{
    color: rgb(231, 231, 231);
}
.navbar-toggler-icon{
    background-image: url(../images/fishing-hook.svg);
    color: white;
}
.navbar-toggler:focus{
    box-shadow: none; 
}
.modal-content{
    background-color: #161738;
    color: white;
}
.navbar, .navbar-brand{
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
}
